<div id="content" style="padding-bottom: 722px;">
    <div id="about_us_banner"></div>
    <div id="vision_container">
        <div class="max_width_container">
            <p class="headings">Our vision</p>
            <p class="sub_heading">Internshala is a dot com business with the heart of dot org.</p>
            <p class="context">We are a technology company on a mission to equip students with relevant skills &amp;
                practical exposure to help them get the best possible start to their careers. Imagine a world full of
                freedom and possibilities. A world where you can discover your passion and turn it into your career. A
                world where you graduate fully assured, confident, and prepared to stake a claim on your place in the
                world.</p>
            <div class="vision_blocks">
                <div class="vision"><img alt="trainings" src="">
                    <div>
                        <p class="sub_heading">Trainings</p>
                        <p class="context">Learn new-age skills on the go with our short-term online trainings</p><a
                            href="https://trainings.internshala.com">Explore more<i class="ic-16-arrow-right"></i></a>
                    </div>
                </div>
                <div class="vision"><img alt="trainings" src="">
                    <div>
                        <p class="sub_heading">Placement Guarantee courses</p>
                        <p class="context">Specialize in industry-oriented programs that get you ready for a career in
                            your dream profile</p><a href="">Explore
                            more<i class="ic-16-arrow-right"></i></a>
                    </div>
                </div>
                <div class="vision"><img alt="trainings" src="">
                    <div>
                        <p class="sub_heading">Fresher jobs</p>
                        <p class="context">Get premium fresher jobs with a minimum CTC of 2LPA on your fingertips</p><a
                            href="">Explore more<i
                                class="ic-16-arrow-right"></i></a>
                    </div>
                </div>
                <div class="vision"><img alt="trainings" src="">
                    <div>
                        <p class="sub_heading">Internships</p>
                        <p class="context">Find 10,000+ internships from great companies to give a kickstart to your
                            career</p><a href="">Explore more<i
                                class="ic-16-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="milestone_container">
        <div class="max_width_container">
            <p class="headings">Our milestones</p>
            <div class="milestone_block">
                <div class="milestone"><img class="milestone_icon"
                        src="" loading="lazy">
                    <picture class="timeline_img">
                        <source media="(max-width: 575px)"
                            srcset="">
                        <source media="(max-width: 991px)"
                            srcset=""><img
                            src="">
                    </picture>
                    <div>
                        <p class="year">2010</p>
                        <p class="sub_heading">How it all started</p>
                        <p class="context">Sarvesh, our founder &amp; CEO, started Internshala as a blog with a mission
                            to bring a culture of meaningful internships in India. And for the first two years, he hired
                            only virtual interns.</p>
                    </div>
                </div>
                <div class="milestone"><img class="milestone_icon"
                        src="" loading="lazy">
                    <picture class="timeline_img">
                        <source media="(max-width: 575px)"
                            srcset="">
                        <source media="(max-width: 991px)"
                            srcset=""><img
                            src="">
                    </picture>
                    <div>
                        <p class="year">2013</p>
                        <p class="sub_heading">The website launch</p>
                        <p class="context">After building a small team, we then launched our website with just one goal
                            - to equip every student in India with their dream internship. And we did it all for free.
                        </p>
                    </div>
                </div>
                <div class="milestone"><img class="milestone_icon"
                        src="" loading="lazy">
                    <picture class="timeline_img">
                        <source media="(max-width: 575px)"
                            srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                        <source media="(max-width: 991px)"
                            srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                            src="">
                    </picture>
                    <div>
                        <p class="year">2015</p>
                        <p class="sub_heading">Internshala app launch</p>
                        <p class="context">The next big step could not have been anything other than launching our very
                            own Android app, bringing Internshala in the ‘hands’ of the students.</p>
                    </div>
                </div>
                <div class="milestone"><img class="milestone_icon"
                        src="" loading="lazy">
                    <picture class="timeline_img">
                        <source media="(max-width: 575px)"
                            srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                        <source media="(max-width: 991px)"
                            srcset=""><img
                            src="">
                    </picture>
                    <div>
                        <p class="year">2016</p>
                        <p class="sub_heading">The beginning of Internshala Trainings</p>
                        <p class="context">After many successful years as an internship platform, our motivation to
                            upskill the students only increased, and that’s when we kickstarted a new journey with
                            Internshala Trainings.</p>
                    </div>
                </div>
                <div class="milestone"><img class="milestone_icon"
                        src="" loading="lazy">
                    <picture class="timeline_img">
                        <source media="(max-width: 575px)"
                            srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                        <source media="(max-width: 991px)"
                            srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                            src="">
                    </picture>
                    <div>
                        <p class="year">2020</p>
                        <p class="sub_heading">When we launched Fresher Jobs</p>
                        <p class="context">With Fresher jobs, we embarked on a journey filled with newer challenges,
                            which allowed us to provide bigger &amp; better opportunities to graduates with 0-2 years of
                            experience.</p>
                    </div>
                </div>
                <div class="milestone"><img class="milestone_icon"
                        src="" loading="lazy">
                    <picture class="timeline_img">
                        <source media="(max-width: 575px)"
                            srcset="/static/images/info/about_us/milestone/timeline-r575.svg">
                        <source media="(max-width: 991px)"
                            srcset="/static/images/info/about_us/milestone/timeline-r991.svg"><img
                            src="">
                    </picture>
                    <div>
                        <p class="year">2021</p>
                        <p class="sub_heading">The launch of Placement Guarantee courses</p>
                        <p class="context">With an insight that more than 90% of the graduates in India start their
                            careers with a job that pays less than 3LPA, we came up with Placement Guarantee courses to
                            help the students start their careers in their dream profiles.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="news_container">
        <div class="max_width_container">
            <p class="headings">In the news</p>
            <div class="slick-slider slick-initialized">
                <div class="slick-list">
                    <div class="slick-track" style="width: 1184px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                        <div data-index="0" class="slick-slide slick-active slick-current" tabindex="-1"
                            aria-hidden="false" style="outline: none; width: 296px;">
                            <div>
                                <div><a
                                        href="https://drive.google.com/file/d/1qFjpzboJf4dWXZST2g6DsRGmkTelrgnf/view?usp=sharing"><img
                                            alt="News18" src="/static/images/info/about_us/news/News18.svg"
                                            loading="lazy"></a></div>
                            </div>
                        </div>
                        <div data-index="1" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 296px;">
                            <div>
                                <div><a
                                        href="https://economictimes.indiatimes.com/jobs/76000-students-applied-to-internships-every-day-in-past-year-survey/articleshow/81967814.cms"><img
                                            alt="the_economic_times"
                                            src=""
                                            loading="lazy"></a></div>
                            </div>
                        </div>
                        <div data-index="2" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 296px;">
                            <div>
                                <div><a
                                        href=""><img
                                            alt="republic_world"
                                            src=""
                                            loading="lazy"></a></div>
                            </div>
                        </div>
                        <div data-index="3" class="slick-slide slick-active" tabindex="-1" aria-hidden="false"
                            style="outline: none; width: 296px;">
                            <div>
                                <div><a
                                        href=""><img
                                            alt="dainik_bhaskar"
                                            src=""
                                            loading="lazy"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><a class="btn btn-secondary" href="/media">View more</a>
        </div>
    </div>
    <div id="meet_team_container">
        <p class="headings">Meet the team</p>
        <div class="tab_items">
            <ul class="nav nav-tab nav-is-tabs">
                <li class="nav-item"><a class="nav-link active" name="employees">Current team</a></li>
                <li class="nav-item"><a class="nav-link " name="isp">Internshala Student Partners</a></li>
                <li class="nav-item"><a class="nav-link " name="advisors">Advisors</a></li>
            </ul>
            <div class="tab-content">
                <div id="current_team" class="tab-panel">
                    <div class="max_width_container">
                        <div class="individual_member">
                            <div class="image_container"><img src=""
                                    alt="Sarvesh" loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Sarvesh</p>
                                <p class="context">The one who started it all. It takes a lot of guts to create a start
                                    up and he's the one with all of it. Meet the CEO. Yes, he's got loads of patience
                                    and humility. But on that once-in-a-blue-moon day when he breathes fire, no one
                                    dares to tread his territory. He's a master manager and rightfully at the helm of
                                    affairs at Internshala.</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src=""
                                    alt="Shadab" loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Shadab</p>
                                <p class="context">The one with the poker face. He can crack a hilarious joke with the
                                    straightest face and an equally lame joke with a hilariously delighted face. Sarcasm
                                    runs in his blood. Don't take our word for that, talk to him and you will know (we
                                    will gladly pass you his number, just ask).</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src=""
                                    alt="Vikram" loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Vikram</p>
                                <p class="context">The one with the humility. The monk in the team; he probably goes
                                    into a trance once he sets his earphones in and starts coding. The only times he
                                    comes out of it is when either the CEO calls him or he needs to check the latest
                                    football news.</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src=""
                                    alt="Shekhar" loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Shekhar</p>
                                <p class="context">The one with the impeccable taste. His whole world revolves around
                                    traffic. During mornings and evenings, he battles the fierce traffic on roads. In
                                    between he strives to increase the 'traffic' on Internshala. This towering Bong is
                                    the gourmet expert in the team and worships the Beatles and Pink Floyd.</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src="" alt="Ankur"
                                    loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Ankur</p>
                                <p class="context">The one with the ever-smiling face. He’s got a singular expression on
                                    his face- a smile. An indispensable member of the Tech team, he never refuses to any
                                    fun activity. Play cricket, he’s in. Play poker, he’s in. Play coding, he’s
                                    definitely in!</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src=""
                                    alt="Aseem" loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Aseem</p>
                                <p class="context">The one with the patience. Prima facie, Aseem's slender frame gives
                                    an impression of a freshman sitting in a class of final year students. But his
                                    mighty brain handles all the complex technical aspects of Internshala. Mostly
                                    soft-spoken, this lad gets brutal only when he is playing Counter-Strike.</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src="" alt="Shobha"
                                    loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Shobha</p>
                                <p class="context">The one who keeps to herself. This doesn’t imply that she’s taciturn.
                                    On the contrary, you will always find her talking on her phone, with which she seems
                                    to have a ‘saat janmo ka rishta’. Though the HR insists that she talks only to
                                    different candidates, we are not entirely convinced.</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src="" alt="Amar"
                                    loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Amar</p>
                                <p class="context">The one who loves to explore. You’ll never see him sitting idle;
                                    either he will be coding or exploring places. And yeah, never ask him out on a lunch
                                    date because you’ll end up only with a glass of juice- his staple food.</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src="" alt="Ferhan"
                                    loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Ferhan</p>
                                <p class="context">The one with the dance moves. Fondly called as Aslam, he loves to
                                    doodle in his free time. If you want to see his uninhibited self, just play a song,
                                    and he will own the room. He can also give complex to girls with his silky hair.
                                    Just don’t open your lunch boxes in front of him- you will REGRET it.</p>
                            </div>
                        </div>
                        <div class="individual_member">
                            <div class="image_container"><img src="" alt="Sapna"
                                    loading="lazy"></div>
                            <div>
                                <p class="sub_heading">Sapna</p>
                                <p class="context">The one who loves animation. Thanks to her sweetness, half of the
                                    student team is diabetic. The word hard-working is an understatement for her. If you
                                    want to see her rare, excited persona, take her to an animated movie. She is also a
                                    great singer.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loading_image" style="display: none;"><img src="/static/images/progress_spinner.gif"></div>
                <button id="view_more" class="btn btn-secondary btn-semilarge">View more</button>
            </div>
        </div>
    </div>
</div>