<div class="login-container">
  <mat-card class="login-card mat-elevation-z4">
    <h2 class="login-title">Login</h2>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput ngModel
        name="userName"
        id ="userName"
        placeholder="username">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="showPassword ? 'text' : 'password'"
          ngModel
          name="userPassword"
          id="userPassword"
          placeholder="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleShowPassword()"
          type="button"
          aria-label="Toggle password visibility"
        >
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" class="login-button" type="submit">
        Login
      </button>
    </form>

    <div class="link-section">
      <a class="forgot-password-link" routerLink="/updatepassword">Forgot Password?</a>
    </div>

    <div class="register-section">
      <p>Don't have an account?</p>
      <a routerLink="/register">
        <button mat-raised-button color="accent">Register</button>
      </a>
    </div>

    <br>
<hr>
<!-- <div id="g_id_onload"
     data-client_id="181632395519-odqfq1ej324o6knjpms32sug8mlm2tcg.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:4200/authenticate"
     data-auto_select="true"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div> -->

  </mat-card> 


</div>

   